<h1>All about this task!!!!</h1>
<div class="task-container">
  <div class="task-item">
    <p class="text">
      <%=@task.name %>
      <br>
      <%= @task.description%>
      <br>
      <%= @task.completed_at %>
    </p>
    <div class="buttons">
    <%= button_to "Edit", edit_task_path(@task.id), method: :get %>

    <% if @task.completed_at == ""%>
    <%= button_to "Completed!!", completed_path(@task.id), method: :patch %>
      <% else %>
    <%= button_to "Opps um!!", uncompleted_path(@task.id), method: :patch %>
    <% end %>
    <%= button_to "Remove That", destroy_path(@task.id), method: :delete, data: { confirm: "Are you sure?" }  %>
    </div>


  </div>
</div>
