<h1>Here is the big list of things I have to do!!!!</h1>
<div class="task-container">
   <%@all_tasks.each do |task| %>
   <div class="task-item">
<p class="text"><%= link_to task.name, task_path(task.id)%><p>
<!-- <%= button_to "Edit", "/tasks/#{task.id}/edit", method: :patch %> -->

<!-- <%= button_to "Completed!!", "/tasks/#{task.id}", method: :patch %> -->
<!-- <%= button_to "Remove That", "/tasks/#{task.id}", method: :delete, data: { confirm: "Are you sure?" }  %> -->
</div>
 <%end%>
</div>

<pre>  <%= params %> </pre>
