<!DOCTYPE html>
<html>
<head>
  <title>Tasklistapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
    <!-- for FF, Chrome, Opera -->
    <link rel="icon" type="image/png" href="./images/check-icon.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./images/check-icon.png" sizes="32x32">
    <!-- for IE -->
    <link rel="icon" type="image/x-icon" href="./images/check-icon.png" >
    <link rel="shortcut icon" type="image/x-icon" href="./images/check-icon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

</head>
<body>


  <header>
      <nav class="top-bar">
        <ul>
        <li><a href= "/"> Current Tasks</a></li>
        <li><%= link_to "New Task", new_task_path %>	</li>
        <li><%= link_to "Completed Tasks", allcompleted_path %></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <%= yield %>
      </article>
    </main>



</body>
</html>
